.container-fluid
  h1
    a(href="https://inexor.org") Inexor   
    small Stays Sauer – Becomes Better

  // TODO: Semantic contributors list
  :markdown
    Made by
    [Andreas (hanack) Schaeffer](https://github.com/aschaeffer),
    [Karolin (mapc) Varner](https://twitter.com/dakoraa),
    [Malte (a_teammate)](https://github.com/a-teammate),
    [Calinou](https://github.com/Calinou),
    [Michael (Crydon) Keck](https://github.com/Croydon),
    [Fohlen](https://github.com/Fohlen),
    [Johannes (Hanni)](https://github.com/IAmNotHanni),
    [Fatality](https://github.com/SF-Fatality)
    [Moritz (Movabo)](https://github.com/movabo)
    and
    [Koppiman](https://github.com/koppiman)

  hr

  h2: a(href="http://sauerbraten.org ") Based on Sauerbraten
  
  | Made by Wouter (Aardappel) van Oortmersse and Lee (eihrul) Salzman.

